<!DOCTYPE html>
<html lang="en">

<%- include("./partials/headPartial.ejs") %> 

<body>
    <%- include("./partials/headerPartial.ejs") %> 
    <main>
        <article>
            <img class="foto-producto" src="/img productos_weiss/ciervo.jpg"
                alt="Ciervo Ahumado en aceite- Frasco x200grs">
            <div>
                <p class="precio">$1.210</p>
                <h4 class="descripcion">Ciervo Ahumado en aceite - Frasco x200grs</h4>
            </div>
        </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/trucha-ahumada.jpg"
                alt="Trucha ahumada - Filet x60grs">
            <div>
                <p class="precio">$633</p>
                <h4 class="descripcion">Trucha ahumada - Filet x60grs</h4>
            </div>
        </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/trucha-escabeche.jpg" alt="Trucha al escabeche">
            <div>
                <p class="precio">$1.660</p>
                <h4 class="descripcion">Trucha en escabeche - Frasco x360grs</h4>
            </div>
        </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/salmon-ahumado.jpg" alt="salmon-ahumado">
            <div>
                <p class="precio">$2.520</p>
                <h4 class="descripcion">Salmón ahumado en aceite - Frasco x200grs</h4>
            </div>
        </article>

    </main>
    <br>
    <br>
    <br>
    <br>
    
    <%- include("./partials/footerPartial.ejs") %> 
</body>
</html>