<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Weiss Home</title>
</head>

<body>
    <header>
        <div class="above-navbar">
            <div>
                <p>Aquí ira la search bar</p>
            </div>
            <div>
                <p>wishlist, cuenta y carrito</p>

            </div>
        </div>
        <nav>
            <ul class="navbar-list">
                <li><a href="">Envíos</a></li>
                <li><a href="/productos">Productos</a><i class="fal fa-angle-down"></i></li>
                <li><a href="/">Home</a></li>
            </ul>
            <div class="weiss-logo">
                <img  width="70%"  src="/img productos_weiss/logo-weiss.png" alt="logo-weiss">
            </div>
            <ul class="navbar-list">
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Sucursales</a></li>
            </ul>

        </nav>
    </header>








    <main></main>
    <footer></footer>

</body>

</html>