<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <title>Weiss Home</title>
</head>

<body>
    <header>

        <div class="above-navbar">
            <div class="search-bar">
                <p><label for="searchbar"><i class="fa-solid fa-magnifying-glass"></i></label> <input type="text" name="searchbar" id="searchbar" placeholder="Buscar..."></p>
            </div>
            <ul class="wishlist-account-cart">
                <li><a href="">Lista de deseos <i class="fa-solid fa-heart"></i></a></li>
                <li><a href="/login">Cuenta <i class="fa-solid fa-circle-user"></i></a></li>
                <li><a href="/carrito_compras">Tu carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
        <nav>
            <ul class="navbar-list">
                <li><a href="">Envíos</a></li>
                <li><a href="/productos">Productos <i class="fa-solid fa-angle-down"></i></a></li>
                <li><a href="/">Home</a></li>
            </ul>
            <div class="weiss-logo">
                <img width="70%" src="/img productos_weiss/logo-weiss (cortado).png" alt="logo-weiss">
            </div>
            <ul class="navbar-list">
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Sucursales <i class="fa-solid fa-angle-down"></i></a></li>
            </ul>
        </nav>

    </header>


    <main>
        <article>
            <img class="foto-producto" src="/img productos_weiss/ciervo.jpg" alt="Ciervo en escabeche- Frasco x200grs">
            <div>
                <p class="precio">$1.210</p>
                <h4 class="descripcion">Ciervo en escabeche - Frasco x200grs</h4>
            </div>
            </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/trucha-escabeche.jpg" alt="Trucha al escabeche">
            <div>
                <p class="precio">$1.660</p>
                <h4 class="descripcion">Trucha en escabeche - Frasco x360grs</h4>
            </div>
        </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/salmon-ahumado.jpg" alt="Salmón ahumado en aceite - Frasco x200grs">
            <div>
                <p class="precio">$2.520</p>
                <h4 class="descripcion">Salmón ahumado en aceite - Frasco x200grs</h4>
            </div>
        </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/trucha'ahumada.jpg" alt="Trucha ahumada - Filet x60grs">
            <div>
                <p class="precio">$633</p>
                <h4 class="descripcion">Trucha ahumada - Filet x60grs</h4>
            </div>
        </article>
        <article>
            <img class="foto-producto" src="/img productos_weiss/ciervo-ahumado.jpg" alt="Ciervo ahumado en aceite - frasco 200gr">
            <div>
                <p class="precio">$1210</p>
                <h4 class="descripcion">Ciervo ahumado en aceite - Frasco x200gr</h4>
            </div>
        </article>
    </main>




    <footer>
        <img class="logo" src="/img productos_weiss/logo-weiss.png" alt="logo-weiss">
        <h2 class="h2-footer">© 2020 A. WEISS</h2>
        <h3 class="h3mail">Contactenos: ventas@ahumaderoweiss.com</h3>
        <nav class="border">
            <h3>Acerca</h3>
            <ul class="enlacesFooter">
                <li><a href="/pagos">Pagos</a></li>
                <li><a href="/empresas">Empresas</a></li>
                <li><a href="/Terminos-y-condiciones">Terminos y condiciones</a></li>
                <li><a href="/nuestras-politicas">Nuestras politicas</a></li>
            </ul>
        </nav>
        <ul class="logoY">
            <li class="redesSociales">
                <a href="https://wa.me/+5492944509149?text=Aumadero%20Weiss"><img class="red-social-logo"
                        src="./img productos_weiss/whatsapp.png" alt=""></a>
            </li>
            <li class="redesSociales">
                <a href="https://www.instagram.com/ahumaderoweiss/"><img class="red-social-logo"
                        src="./img productos_weiss/instagram.png" alt=""></a>
            </li>
            <li class="redesSociales">
                <a href="https://www.facebook.com/Ahumadero-Weiss-207202692952"><img class="red-social-logo"
                        src="./img productos_weiss/facebook.png" alt=""></a>
            </li>
            <li class="redesSociales">
                <a href="https://twitter.com/AhumaderoWeiss"><img class="red-social-logo"
                        src="./img productos_weiss/twitter.png" alt=""></a>
            </li>
            <li class="redesSociales">
                <a href="https://www.youtube.com/watch?v=ZOJCtfcIQwk&ab_channel=TurismoInteroce%C3%A1nico"><img
                        class="red-social-logo" src="./img productos_weiss/youtube.png" alt=""></a>
            </li>
        </ul> 
    </footer>

</body>

</html>