<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles_login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Página</h1>
        <img  src="./img productos_weiss/_DSC1447.JPG" alt="aaaaa">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/carrito_compras">Carrito compras</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="formFormulario" action="" method="POST" id="form">
            <div class="form">
                <h1>Ingresar</h1>
                <div class="grupo">
                    <input class="inputForm" type="text" name="nombre" id="nombre" required><span class="barra"></span>
                    <label for="nombre">Nombre o Email</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="password" name="Contraseña" id="Contraseña" required><span class="barra"></span>
                    <label for="Contraseña">Contraseña</label>
                </div>
                <button type="submit">Ingresar</button>
            </div>
        </form>

    </main>
    <footer>
        
    </footer> 
    </body>
</html>