<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles_registro.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Página</h1>
        <img src="./img productos_weiss/_DSC1447.JPG" alt="aaaaa">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/carrito_compras">Carrito compras</a></li>
                <li><a href="/productos">productos</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registro">Registro</a></li>
            </ul>
        </nav>

    </header>
    
    <main>
        <form class="formFormulario" action="" method="POST" id="form">
            <div class="form">
                <h1>Registrate</h1>
                <div class="grupo">
                    <input class="inputForm" type="text" name="nombre" id="nombre" required><span class="barra"></span>
                    <label for="nombre">Nombre y apellido</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="text" name="usuario" id="usuario" required><span
                        class="barra"></span>
                    <label for="usuario">Usuario</label>


                </div>
                <div class="grupo">
                    <input class="inputForm" type="password" name="password" id="password" required><span
                        class="barra"></span>
                    <label for="password">Password</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="password" name="password2" id="password2" required><span
                        class="barra"></span>
                    <label for="password2">Confirmar contraseña</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="email" name="email" id="email" required><span class="barra"></span>
                    <label for="email">Email</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="number" name="telefono" id="telefono" required><span class="barra"></span>
                    <label for="telefono">Telefono</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="number" name="edad" id="edad" required><span class="barra"></span>
                    <label for="edad">Edad</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="date" name="fecha" id="fecha">
                    <label for="fecha"></label>
                </div>
                <button type="reset">Borrar</button>
                <button type='submit'>Enviar:</button>
            </div>
            </button>
        </form>
        </main>
    <footer>

    </footer>
</body>
</html>