<header id="top">
    <div class="above-navbar">
        <div class="search-bar">
            <p><label for="searchbar"><i class="fa-solid fa-magnifying-glass"></i></label> <input type="text"
                    name="searchbar" id="searchbar" placeholder="Buscar..."></p>
        </div>
        <ul class="wishlist-account-cart">
            <li><a class="wishlist-item" href="/lista-de-deseos"> <i class="fa-solid fa-heart"></i></a></li>
            <li><a class="account-item" href="/login"> <i class="fa-solid fa-circle-user"></i></a></li>
            <li><a class="cart-item" href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
    <nav class="nav-header">
        <div class="mini-menu"><a href=""><i class="fa-solid fa-bars"></i> MENU</a></div>
        <ul class="navbar-list">
            <li><a href="/envios">Envíos</a></li>
            <li><a href="/productos">Productos <i class="fa-solid fa-angle-down"></i></a></li>
            <li><a href="/">Home</a></li>
        </ul>
        <div class="weiss-logo">
            <a href="/"><img width="70%" src="/img productos_weiss/logo-weiss (cortado).png" alt="logo-weiss"></a>
        </div>
        <ul class="navbar-list">
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Sucursales <i class="fa-solid fa-angle-down"></i></a></li>
        </ul>
        <div class="mini-home"><a href="/">HOME <i class="fa-solid fa-house-chimney"></i></a></div>
    </nav>
</header>