<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>

            <main>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
               
                <div class="page_content">
                    <div class="slider">
                        <ul>
                            <li>
                                <a href="/productos/Quesos"><img src="/img productos_weiss/quesos.jpg" alt=""></a>
                                        
                            </li>
                            <li>
                                <a href="/productos/Carnes"><img src="/img productos_weiss/carnes.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="/productos/Pescados"><img src="/img productos_weiss/pescados.jpg" alt=""></a>
                            </li>
                            <li>
                                <a href="/productos/Especias"><img src="/img productos_weiss/especias.jpg" alt=""></a>
                            </li>

                        </ul>


                    </div>

                </div>
            </main>


            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>