<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">
                <div class="page_title">
                    <h1 class="main_titles">Sucursales</h1>
                </div>

                <div class="page_content">
                    <div class="myAccount_all">
                        <div class="centrado_texto">

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 id="local">Local de ahumados</h1>
                            <br>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15767.031370210845!2d76.712942!3d8.902091!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sus!4v1670544903901!5m2!1ses!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <br>
                            <br>
                            <br>
                            <br> <br>
                            <br>
                            <br>
                            <br>
                            <br> <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 id="beer">Local de hamburguesas</h1>




                        </div>
                    </div>
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                    <br>
                    <br>
                </div>
            </main>

            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>