<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">
                <div class="page_title">
                    <h1 class="main_titles">Sucursales</h1>
                </div>

                <div class="page_content">
                    <div class="myAccount_all">
                        <div class="centrado_texto">

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 id="local">1era sucursal</h1>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br> <br>
                            <br>
                            <br>
                            <br>
                            <br> <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1 id="beer">1era sucursal</h1>




                        </div>
                    </div>
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                    <br>
                    <br>
                </div>
            </main>

            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>