<!DOCTYPE html>
<html lang="en">
<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_adminProductsList">
                <div class="page_title">
                    <h1 class="main_titles">Administrador de productos</h1>
                    <p class="main_underTitle">Productos cargados en la base de datos</p>
                </div>
                <div class="page_content"><div>


            </main>
            <%- include("../partials/footerPartial.ejs") %>
                <script src="/js/administrador.js"></script>
    </body>

</html>