<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/headPartial.ejs") %> 
<body>
    <%- include("../partials/headerPartial.ejs") %> 
    <main class="main_loginForm">
        <form class="formFormulario" action="" method="POST" id="form">
            <div class="form">
                <h1>Ingresar</h1>
                <div class="grupo">
                    <input class="inputForm" type="text" name="nombre" id="nombre" required><span class="barra"></span>
                    <label class="loginForm_label" for="nombre">Nombre o Email</label>
                </div>
                <div class="grupo">
                    <input class="inputForm" type="password" name="Contrase単a" id="Contrase単a" required><span
                        class="barra"></span>
                    <label class="loginForm_label" for="Contrase単a">Contrase単a</label>
                </div>
                <button class="loginForm_button" type="submit">Ingresar</button>
            </div>
            <div>
                <li><a href="/cuenta/register">Registrate</a></li>
            </div>
        </form>

    </main>
    <%- include("../partials/footerPartial.ejs") %> 
</body>

</html>