<!DOCTYPE html>
<html lang="en">

<%-include("../partials/headPartial.ejs")%>
    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main  class="main_loginForm">
                <form class="formFormulario" action="" method="POST" id="form">
                    <div class="form">
                        <h1>Registrate</h1>
                        <div class="grupo">
                            <input class="inputForm" type="text" name="nombre" id="nombre" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="nombre">Nombre y apellido</label>
                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="text" name="usuario" id="usuario" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="usuario">Usuario</label>


                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="password" name="password" id="password" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="password">Password</label>
                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="password" name="password2" id="password2" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="password2">Confirmar contraseña</label>
                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="email" name="email" id="email" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="email">Email</label>
                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="number" name="telefono" id="telefono" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="telefono">Telefono</label>
                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="number" name="edad" id="edad" required><span
                                class="barra"></span>
                            <label class="loginForm_label" for="edad">Edad</label>
                        </div>
                        <div class="grupo">
                            <input class="inputForm" type="date" name="fecha" id="fecha">
                            <label class="loginForm_label" for="fecha"></label>
                        </div>
                        <button class="loginForm_button" type="reset">Borrar</button>
                        <button class="loginForm_button" type='submit'>Enviar</button>
                    </div>
                </form>
            </main>
            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>