<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_productDetail">
                <div class="page_title">
                </div>
                <div class="page_content">
                    <div class="productDetail_all">
                        <section class="productDetail_sec1">
                            <div class="productDetail_imgCont">
                                <img src="/img productos_weiss/productosImages/queso-hierbas.jpg" alt="logo-weiss">
                            </div>


                        </section>
                        <section class="productDetail_sec2">
                            <div class="productDetail_info">
                                <h4 class="productDetail_path">Home / Categoría / producto</h4>
                                <h2 class="productDetail_title">Producto tal de Prueba</h2>
                                <div>
                                    <div class="productDetail_discountSec">
                                        <h2 class=productDetail_originalPrice>$20000.00</h2>
                                        <h2 class="productDetail_discount">50% OFF</h2>
                                    </div>
                                    <p class="productDetail_offer">2 unidades al precio de 1</p>
                                    <h2 class="productDetail_finalPrice">$10000.00</h2>
                                    <div class="productDetail_buttonSec">
                                        <a class="productDetail_a" href="">
                                            <div class="productDetail_addButton">
                                                <p>AGREGAR AL CARRITO</p>
                                            </div>
                                        </a>
                                    </div>
                                    <p class="productDetail_description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>

                                </div>
                            </div>

                        </section>
                    </div>








                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>

                </div>
            </main>


            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>